a {
  padding: 8px;
  text-decoration: none;
}

.container {
    margin-top: 20vh;
    text-align: center;
}

#searchbar {
    max-width: 600px;
    border-radius: 50px
}

.btn {
    max-width: 150px;
}

.navbar {
    justify-content: end;
    margin-right: 2em;
}

