{% extends "network/layout.html" %}

{% block body %}
{% load static %}


<div id="index">
{% if not followpage %}
<h2 class="m-3">All Posts</h2>
{% else %}
<h2 class="m-3">Following Posts</h2>
{% endif %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}




<hr>

<!-- {% if not user.is_authenticated %}
<div class="text-center mt-5">
   <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to view content
</div>
{% endif %} -->


{% for post in newpost %}
<div class="d-flex justify-content-center">
  <div class="card w-50 mx-5 mb-1">
  <div class="card-body">
    <div>
        <p style="display:inline" class="font-weight-bold mr-3"><a href="{% url 'profile' post.user.id %}" style="color: inherit; text-decoration:none; "><strong>{{post.user}}</strong></a></p>
        <small style="float:right;" class=" text-muted text-end">{{post.date}}</small>
        <p class="my-2">{{post.content }}</p>
        
          <div class="row row-cols-6 mt-3">
            {% if user == post.user%}
            <div  class="col-sm-1">
              <a id="{{post.id}}" href="#"  onClick="reply_click(this.id)" style="color: inherit; "><i  data-bs-toggle="modal" data-bs-target="#editModal" class="fa-solid fa-pen-to-square"></i></a>
            </div>
            {% endif %}
            <div class="col-sm-1"><a href="{% url 'login' %}" style="color: inherit; "><i class="fa-solid fa-heart" style="color:red"></i></a></div>
            <div class="col-sm-1"><i class="fa-solid fa-comment"></i></div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endfor %}


    <nav class="mt-4" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if newpost.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ newpost.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
          {% endif %}
        
        {% if newpost.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ newpost.next_page_number }}">Next</a></li>
          {% endif %}

      </ul>
    </nav>

<script>

function reply_click(clicked_id)
  {
    // get emails from database & format them for mailbox view
    fetch(`/editpost/${clicked_id}`)
    .then((response) => response.json())
    .then((editpost) => {
      document.querySelector("#editcontent").value = editpost.content;

      document.querySelector("#compose-form").onsubmit = () => {
        const content = document.querySelector("#editcontent").value;
        document.querySelector("#editcontent").value = "";

        

        // submit edited details via post
        fetch("/editpost", {
          method: "POST",
          body: JSON.stringify({
            user: editpost.user,
            content: editpost.content,
          }),
        })
          .then((response) => response.json())
          .then((result) => {
            // Print result
            console.log(result);
          });

        var myModalEl = document.getElementById('editModal');
        var modal = bootstrap.Modal.getInstance(myModalEl)
        modal.hide();

        return false;
        
        };
    })
  }

</script>

{% endblock %}