{% extends "network/layout.html" %}

{% block body %}
{% load static %}


<div id="index">
{% if followpage %}
<h2 class="m-3">Following Posts</h2>
{% elif is_profilepage %}
<h2 class="m-3">Profile</h2>
{% else %}
<h2 class="m-3">All Posts</h2>
{% endif %}

    
<div id="poor_mans_msg"> </div>



<!-- {% if not user.is_authenticated %}
<div class="text-center mt-5">
   <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to view content
</div>
{% endif %} -->

{% if is_profilepage %}

<div class="d-flex justify-content-center my-4">
  <div class="card mb-3 border-0" style="max-width: 700px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{% static 'network/user.png' %}"
          class="img-fluid rounded-start"
          width="200"
          alt="user"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{profile.username}}</h5>
          <p class="card-text">
            This is the users bio. Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.
          </p>
          <div  class="row text-muted mb-2">
            <div class="col-6 col-sm-3">
              <strong>{{ followingcount }}</strong> Following
            </div>
            <div  class="col-6 col-sm-3">
              <strong id="followercount">{{ followercount }}</strong> Followers
            </div>
          </div>
          {% if user.is_authenticated %} 
          {% if user.username != profile.username%}
          <div id="follow_button"></div>
          {% endif %} 
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}



{% for post in newpost %}

<div class="d-flex justify-content-center">
  <div class="card w-50 mx-5 mb-1">
  <div class="card-body">
    <div>
        <p style="display:inline" class="font-weight-bold mr-3"><a href="{% url 'profile' post.user.id %}" style="color: inherit; text-decoration:none; "><strong>{{post.user}}</strong></a></p>
        <small style="float:right;" class=" text-muted text-end">{{post.date}}</small>
        <p id="c{{post.id}}" class="my-2 ">{{post.content }}</p>
         <hr class="mt-4">
        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-4"><a  {% if user.is_authenticated %} onClick="like_click(`{{post.id}}`)" {% endif %} style="color: inherit; cursor: pointer;"><p class="text-muted" style="display:inline; padding: 8px;" id="l{{post.id}}">{% if post.like.all %}{{ post.like.all | length }}{% endif %}</p><i {% if user in post.like.all %} style="color: red;" {% endif %} class="fa-solid fa-heart fa-lg"></i></a></div>
            <div class="col-6 col-sm-4 text-center"><i class="fa-solid fa-comment fa-lg"></i></div>
            {% if user == post.user%}
            <div class="col-6 col-sm-4 text-end"><a  onClick="reply_click(`{{post.id}}`)" style="color: inherit; cursor: pointer; "><i  data-bs-toggle="modal" data-bs-target="#editModal" class="fa-solid fa-pen-to-square fa-lg"></i></a></div>
            {% endif %}
            
          </div>
        </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% endfor %}


    <nav class="mt-4" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if newpost.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ newpost.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
          {% endif %}
        
        {% if newpost.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ newpost.next_page_number }}">Next</a></li>
          {% endif %}

      </ul>
    </nav>

    <!-- pass data to js -->
    {{ profile.id |json_script:"profile_id" }}
    {{ is_following |json_script:"is_following" }}
    

{% endblock %}