{% extends "auctions/layout.html" %}

{% block body %}

    <div class="d-flex justify-content-center mb-3">
        <h2>Create Listing</h2>
    </div>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="d-flex justify-content-center">
        <form action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" maxlength="200" name="title" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="4" cols="50" maxlength="200" type="text" name="desc" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control w-50" type="number" min="1" maxlength="200" name="bid" placeholder="Starting Bid in USD">
            </div>
            <div class="form-group">
                <input class="form-control w-50" type="url" name="url" maxlength="200" placeholder="Link to Image">
            </div>
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>

    

{% endblock %}