{% extends "auctions/layout.html" %} {% block body %}

<div class="mb-2">
  <h2>Active Listings</h2>
</div>

<div class="row row-cols-2 row-cols-md-4">
  {% for list in listing %}
  <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{{ list.url}}" alt="{{ list.title }}" />
      <div class="card-body">
        <h5 class="card-title">{{ list.title }}</h5>
        <p class="card-text">{{ list.desc}}</p>
      </div>
      <div class="card-footer text-center">
        <small><strong>Price: $</strong>{{ list.bid}}</small>
      </div>
    </div>
  </div>
  {% empty %}
  <p>No Listings</p>
  {% endfor %}
</div>

{% endblock %}
