{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

        <ul style="list-style-type: none;">
            <div class="container">
                <div class="row row-cols-3">
                    {% for list in listing %}
                  <div class="col my-5">
                      <div class="text-center">
                        <li><h5>{{ list.title }}</h5></li>
                      </div>
                    <li> <img src={{ list.url}} alt={{ list.title }} class="img-fluid"> </li>
                    <li><strong>Price: $</strong>{{ list.bid}}</li>
                    <li>{{ list.desc}}</li>
                  </div>
                  {% empty %}
                <li>No Listings</li>
            {% endfor %}
                </div>
              </div>          
        </ul>
    

{% endblock %}

