{% extends "auctions/layout.html" %} {% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger text-center" role="alert">
          {{ message }}
        </div>
       {% endif %}
    {% endfor %}
{% endif %}

<!-- {% if messages %}
<div class="alert alert-danger text-center" role="alert">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %} -->

<div class="card m-5 border-0">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ list.url }}"
        class="img-fluid rounded-start"
        alt="{{ list.title }}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><strong>{{ list.title }}</strong></h4>
        <p class="card-text mb-4">{{ list.desc }}</p>
        <h3 class="card-text mb-4">
          <strong>${{ list.bid|floatformat:2 }}</strong>
        </h3>
        
        {% if user.is_authenticated %}

        <p  class="mb-3" ><small> {{ bidlen }} bid(s) so far.
        {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
              {{ message }}
            {% endif %}
        {% endfor %}
        {% endif %}
        </small></p>
  
        <div>
          <form action="{% url 'place_bid' list.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input
                autofocus
                class="form-control w-50"
                type="number"
                min="1"
                step="0.01"
                maxlength="200"
                name="bid_value"
                placeholder="Bid"
              />
            </div>
            <div>
              <input
                class="btn btn-primary mb-3"
                type="submit"
                value="Place Bid"
              />
            </div>
          </form>
        </div>

        <!-- Adds and removes from watchlist -->

        <div>
        {% if not in_wishlist %}
          <a href="{% url 'watchlist' list.id %}" style="text-decoration: none;" > 
            Add to watchlist
          </a>
        {% else %}
          <a href="{% url 'watchlist' list.id %}" style="text-decoration: none;" > 
            Remove from watchlist
          </a>
        {% endif %}

        {% if closed %}
        <a class="btn btn-danger ml-5" href="{% url 'close' list.id %}" role="button">Close Listing</a>
        {% endif %}
          </div>
        
        {% else %}
        <a href="{% url 'login' %}" style="text-decoration: none;">Login to place bid</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">
    <h5><strong>Details:</strong></h5>
    <ul>
        <li>Listed by: {{ list.user.username }}</li>
        <li>Category: {{ list.category }}</li>
    </ul>
</div>


{% endblock %}
