{% extends "auctions/layout.html" %} {% block body %}

<div class="card m-5 border-0">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ list.url }}"
        class="img-fluid rounded-start"
        alt="{{ list.title }}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><strong>{{ list.title }}</strong></h4>
        <p class="card-text mb-4">{{ list.desc }}</p>
        <h3 class="card-text mb-4">
          <strong>${{ list.bid|floatformat:2 }}</strong>
        </h3>
        {% if user.is_authenticated %}
        <div>
          <form action="{% url 'place_bid' list.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input
                autofocus
                class="form-control w-50"
                type="number"
                min="1"
                step="0.01"
                maxlength="200"
                name="bid_value"
                placeholder="Bid"
              />
            </div>
            <div>
              <input
                class="btn btn-primary mb-3"
                type="submit"
                value="Place Bid"
              />
            </div>
          </form>
        </div>
        {% else %}
        <a href="{% url 'login' %}">Login to place bid</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">
    <h5><strong>Details:</strong></h5>
    <ul>
        <li>Listed by: {{ list.userid.username }}</li>
        <li>Category: {{ list.category }}</li>
    </ul>
</div>


{% endblock %}
