{% extends "auctions/layout.html" %} {% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger text-center" role="alert">
          {{ message }}
        </div>
       {% endif %}
    {% endfor %}
{% endif %}


<div class="card m-5 border-0">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ list.url }}"
        class="img-fluid rounded-start"
        alt="{{ list.title }}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><strong>{{ list.title }}</strong></h4>
        <p class="card-text mb-4">{{ list.desc }}</p>
        <h3 class="card-text mb-4">
          <strong>${{ list.bid|floatformat:2 }}</strong>
        </h3>
        
        {% if user.is_authenticated %}
        {% if listopen_or_close %}

        <p  class="mb-3" ><small> {{ bidlen }} bid(s) so far.
        {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
              {{ message }}
            {% endif %}
        {% endfor %}
        {% endif %}
        </small></p>
        
        
        <div>
          <form action="{% url 'place_bid' list.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input
                autofocus
                class="form-control w-50"
                type="number"
                min="1"
                step="0.01"
                maxlength="200"
                name="bid_value"
                placeholder="Bid"
              />
            </div>
            <div>
              <input
                class="btn btn-primary mb-3"
                type="submit"
                value="Place Bid"
              />
            </div>
          </form>
        </div>
        


        <!-- Adds and removes from watchlist -->

        <div>
        {% if not in_wishlist %}
          <a href="{% url 'watchlist' list.id %}" style="text-decoration: none;" > 
            Add to watchlist
          </a>
        {% else %}
          <a href="{% url 'watchlist' list.id %}" style="text-decoration: none;" > 
            Remove from watchlist
          </a>
        {% endif %}

        {% else %}

        <div class="text-center">
        <h3 class="mt-5 mb-4">Auction Closed</h3>
        {% if winner %}
        <h5>🎉 Congrats, you won this auction 🎉</h5>
        {% endif %}
        </div>

        {% endif %}

        {% if creatorclosed %}
        <a class="btn btn-danger ml-5" href="{% url 'close' list.id %}" role="button">Close Listing</a>
        {% endif %}
          </div>
        
        {% else %}
        <a href="{% url 'login' %}" style="text-decoration: none;">Login to place bid</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container ml-3">
    <h5><strong>Details:</strong></h5>
    <ul>
        <li>Listed by: {{ list.user.username }}</li>
        <li>Category: {{ list.category }}</li>
    </ul>
</div>

<div class="d-flex justify-content-center mx-4">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>



<div class="container ml-2 mt-5">
  <h5><strong>Comments:</strong></h5>
  <form action="{% url 'comments' list.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
          <textarea class="form-control mx-auto" rows="2" cols="20"  maxlength="200" type="text" name="comment" placeholder="Add comment"></textarea>
      </div>
      <input class="btn btn-primary" type="submit" value="Comment">
  </form>
  <ul style="list-style-type:none; padding-left: 0;" class="mt-4" >
    {% for comment in comments %}
    <li><strong>{{comment.user}}</strong>  <i class="ml-2"><small>{{ comment.date }}</small></i></li>
    <li class="mb-3">{{comment.comment}}</li>
    {% empty %}
    <li>No Comments</li>
    {% endfor %}
  </ul>
</div>




{% endblock %}
