a {
  padding: 8px;
  text-decoration: none;
}


.main {
    margin-top: 20vh;
    text-align: center;
}

#adv {
    margin-top: 10vh;
}

#searchbar {
    max-width: 600px;
    border-radius: 50px
}

.btn {
    max-width: 150px;
}

.advbtn {
    margin: 0px 575px;
}

.navbar {
    justify-content: end;
    margin-right: 2em;
}

input {
    max-width: 500px;
}

